{% extends "layout.html" %}

{% block title %}
    Remove a Class
{% endblock %}

{% block main %}
    <h1 class="mb-3">Remove a Class</h1>
    <form action="/remove" method="post">
        <select name="remove_class" class="mb-3">
            <option disabled selected>Choose A Class To Remove</option>
            {% for class in classes %}
            <option>{{class.name}}</option>
            {% endfor %}
        </select>
        <br>
        <button class="btn btn-primary" type="submit">Remove</button>
    </form>

{% endblock %}