{% extends "layout.html" %}

{% block title %}
    Add An Assignment
{% endblock %}

{% block main %}
    <h1 class="mb-3">Add An Assignment To {{assignment_class}}</h1>
    <form action="/assignmented" method="post">
        <input name="chosen_class" type="hidden" value="{{chosen_class}}">
        <select name="assignment_type">
            <option disabled selected>Choose An Assignment Type</option>
            {% for key in categories %}
                {% if (('name' in key) and (categories[key] != '')) %}
                    <option>{{categories[key]}}</option>
                {% endif %}
            {% endfor %}
        </select>
        <input autocomplete="off" class="form-control mx-auto w-auto" required name="assignment_name" type="text" placeholder="Assignment Name">
        <input autocomplete="off" class="form-control mx-auto w-auto" required name="score_numerator" type="number" placeholder="Points Awarded" min="0" step="0.01">
        <input autocomplete="off" class="form-control mx-auto w-auto" required name="score_denominator" type="number" placeholder="Points Possible" min="0.01" step="0.01">
        <br>
        <button class="btn btn-primary" type="submit">Add Assignment</button>
    </form>
{% endblock %}